.desktop_page > main > header{
    display: flex;
    align-items: center;justify-content: space-between;
}

.header__left_side{
    display: flex;
    align-items: center;
    width: calc(100% - 120px - 30px);
}

.header__right_side{
    
}



/* mobile */
@media only screen and (max-width: 1050px){
    .header__left_side{
        width: 100%;
    }

    .header__right_side{
        display: none;
    }
}