.hero_message{
    width: 250px;
}

.hero_message > h1{

    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: var(--primary_color)
}

.hero_message > h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--secondary_color--light);
}