.named_section{
    display: block
}

.named_section__top{

    width: 100%;
    margin-top: 28px;
    margin-bottom: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.named_section__top > h3{
    font-weight: 600;
font-size: 18px;
line-height: 27px;
color: var(--primary_color);
}

.named_section__top > a{
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: var(--accent_color);
}

.named_section__content{

}

